@import "../../styles/theme.scss";

.articale-card{
  padding: 30px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  .card-img{
    width: 240px;
    height: 160px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .artical-content{
    flex: 1;
  }
  .articale-title{
    font-size: 18px;
    color: rgba(0,0,0,.85);
    margin-bottom: 15px;
    cursor: pointer;
  }
  .articale-title:hover{
    color: $themeColor;
  }
  .articale-desc{
    margin-bottom: 15px;
    color: rgba(0,0,0,.75);
    font-size: 14px;
    // width: 500px;
    height: 65px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;//当属性值为3，表示超出3行隐藏
  }
  .articale-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 25px;
    .left{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .info-avatar{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        font-size: 14px;
      }
      .info-name{
        color: $themeColor;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
      }
      .info-time{
        color: rgba(0,0,0,.75);
        font-size: 14px;
        margin-right: 10px;
      }
    }
    .right{
      color: #999;
      font-size: 14px;
    }
  }
}