.layout-warp{
  position: relative;
  width: calc(100vw - 8px);
  height: 100vh;
  background: #fafafa;
  .main-layout{
    padding-left: 240px;
    padding-top: 56px;
    transition: .1s ease;
  }
  .layout-showInfo-tran{
    padding-left: 70px;
    padding-top: 56px;
  }
  .page-warp{
    background: #fafafa;
    display: flex;
    justify-content: center;
  }
}