@import "../../styles/theme.scss";

.page-login{
  background-image: url(../../images/login-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1400px;
  min-height: 800px;
  .main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 65%;
    height: 67%;
    background-image: url(../../images/login-main-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .form-box-login{
      width: 45%;
      height: 87%;
      padding: 85px 50px 0px 50px;
      margin-right: 25px;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      .form-box-title{
        width: 67%;
        height: 25px;
      }
      .title-bar{
        width: 75px;
        height: 5px;
        background: #e27bf5;
        margin-top: 15px;
      }
      .form-inp{
        width: 100%;
        height: 50px;
        background: #eeeeee;
        color: #333333;
        border: none;
        outline:none;
        border-radius: 60px;
        padding: 0px 30px;
        font-size: 14px;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */
        color: #999;
        font-size: 14px;
      }
      
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #999;
        font-size: 14px;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #999;
        font-size: 14px;
      }   
      .userName{
        margin-top: 25px;
      }
      .password{
        margin-top: 37px;
      }
      .remember{
        margin-top: 30px;
        font-size: 14px;
        color: #999999;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        input{
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
      .login-btn{
        width: 100%;
        height: 50px;
        background: #e27bf5;
        border-radius: 60px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        user-select:none;
      }
      .to-register{
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        span{
          color: #e27bf5;
          cursor: pointer;
          user-select:none;
        }
      }
    }
    .form-box-register{
      width: 45%;
      height: 87%;
      padding: 55px 50px 0px 50px;
      margin-right: 25px;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .form-inp{
        width: 100%;
        height: 50px;
        background: #eeeeee;
        color: #333333;
        border: none;
        outline:none;
        border-radius: 60px;
        padding: 0px 30px;
        font-size: 14px;
      }
      .register-email{
        margin-top: 15px;
      }
      .code-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        .code-inp{
          width: 55%;
          height: 50px;
          background: #eeeeee;
          color: #333333;
          border: none;
          outline:none;
          border-radius: 60px;
          padding: 0px 30px;
          font-size: 14px;
        }
        .code-btn{
          width: 40%;
          height: 50px;
          background: #eeeeee;
          color: #e27bf5;
          border: none;
          outline:none;
          border-radius: 60px;
          text-align: center;
          line-height: 50px;
          font-size: 14px;
          cursor: pointer;
          user-select:none;
        }
      }
      .register-password{
        margin-top: 15px;
      }
      .register-password-agin{
        margin-top: 15px;
      }
      .login-btn{
        width: 100%;
        height: 50px;
        background: #e27bf5;
        border-radius: 60px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        margin-top: 15px;
        user-select:none;
      }
      .to-register{
        margin-top: 30px;
        text-align: center;
        font-size: 16px;
        span{
          color: #e27bf5;
          cursor: pointer;
          user-select:none;
        }
      }
    }
  }
}