.page-shop{
  // display: flex;
  // flex-wrap: wrap;
  padding: 30px;
  .tag{
    width: 200px;
    height: 100px;
    background: #bfbfbf;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .item{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    background: #dfe4ea;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    .ele{
      background: #bfbfbf;
      padding: 10px;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

}
